{% extends 'base.html.twig' %}

{% block title %}Part{% endblock %}

{% block body %}
    <h1>Part</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ part.id }}</td>
            </tr>
            <tr>
                <th>PartName</th>
                <td>{{ part.PartName }}</td>
            </tr>
            <tr>
                <th>PartPrice</th>
                <td>{{ part.PartPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_part_index') }}">back to list</a>

    <a href="{{ path('app_part_edit', {'id': part.id}) }}">edit</a>

    {{ include('part/_delete_form.html.twig') }}
{% endblock %}
